{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Merhaba,

Ben Mehmed Furkan Canbolat, bir İnşaat Mühendisiyim. Hatay, Türkiye'de ikamet ediyorum. İnşaat mühendisliği alanında lisans derecesine sahibim ve şu anda İstanbul Teknik Üniversitesi'nde Deprem Mühendisliği alanında yüksek lisansımı tamamlamaktayım.

Profesyonel kariyerime 2018 yılında başladım ve o zamandan beri çeşitli projelerde çalıştım. Erdemir Mühendislik'te Saha İnşaat Mühendisi olarak görev yapıyorum. Bu görevimde, inşaat projelerinin koordinasyonunu sağlamak, şartname ve standartlara uygunluğu gözlemlemek ve kalite kontrolünü gerçekleştirmek gibi sorumlulukları üstleniyorum. Özellikle saha aktivitelerini takip etmek, raporlamak ve beraber çalıştığım diğer birimlerle çok yönlü bir şekilde çalışmak gibi yeteneklerimi geliştiriyorum. Bu süreçte, saha ekibiyle etkili iletişim kurarak projelerin başarılı bir şekilde tamamlanmasına katkı sağlıyorum. Buradaki iş hayatım süresince katıldığım yatırım projeleri arasında liman ve iskele yapıları, kok bataryası modernizasyonu, vakum altında gaz giderme tesisi, kırma eleme tesisi  projeleri yer almaktadır.

Ayrıca, Polistroy Kapital'de Saha İnşaat Mühendisi olarak çalıştım ve Kazan Palace Phase 2 Otel İnşaat gibi projelerde görev aldım. Bu projelerde, iş güvenliği önlemlerini kontrol etmek, günlük raporlar hazırlamak, proje uygunluğunu sağlamak ve metraj hesaplamaları üzerinde çalışmak gibi görevler üstlendim. Bu deneyimler, proje yönetimi, inşaat sözleşmeleri ve bütçe planlaması gibi alanlardaki yeteneklerimi geliştirmeme yardımcı oldu.

Benimle ilgili diğer birkaç önemli nokta şunlardır:

İnşaat mühendisliği alanında bazı yeteneklere sahibim ve SAP2000, AutoCAD, ETABS gibi tasarım programlarını etkin bir şekilde kullanabiliyorum.
MS Office programlarına çok iyi derecede hakimim ve ayrıca Python programlama dilini de öğreniyorum.
İyi bir iletişim becerisine sahibim ve Türkçe'nin yanı sıra İngilizce (Upper Intermediate) ve Rusça (Beginner) dillerini biliyorum.
Askerlik hizmetimi tamamladım ve B / A2 sürücü ehliyetine sahibim.
İnşaat mühendisliği alanında kazandığım deneyim ve becerilerle, projelerinizi başarıyla tamamlamak ve ekibinize değer katmak için sabırsızlanıyorum.
<hr>
Mehmed Furkan Canbolat
<hr>
{% endblock  %}